h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  font-family: karla;
}

/* LANDING PAGE STYLING */
.landing {
  width: 100%;
  height: 130vh;
  background: #00071c;
  position: relative;
  transition: 0.6s background ease-in-out, 0.6s color ease-in-out ;
}

.change-color {
  background: white;
}

.landing-top {
  width: 100%;
  height: 100vh;
  color: white;
  box-sizing: border-box;
  padding: 0px calc(20% + 8px) 5vh calc(20% + 8px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
}

.landing-intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  justify-content: center;
}

.landing-intro h1 {
  font-size: 16px;
  line-height: 1.5em;
  color: #71798F;
  font-weight: 400;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 1em;
  transition: 0.2s color ease-in-out ;
}

.landing-intro h1.change-text-color {
  color: white;
}

.landing-intro h2 {
  font-size: 28px;
  line-height: 1.5em;
  font-weight: 700;
}

.landing-intro a {
  color: white;
}

.landing-intro span {
  opacity: 0;
  transition: all 0.5s ease;
}

.landing-intro span.fade {
  opacity: 1;
}

.arrow {
  color: white;
  font-size: 14px;
  font-weight: 400;
  opacity: 0;
  animation: fadeIn 0.75s ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0px);
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .landing-top {
    padding: 0px calc(16.667% + 16px) 5vh calc(16.667% + 16px);
  }
  .landing-intro h1 {
    font-size: 16px;
  }
  .landing-intro h2 {
    font-size: 32px;
  }
}

@media (min-width: 801px) {
  .landing-top {
    padding: 0px calc(8.333% + 32px) 5vh calc(8.333% + 32px);
  }
  .landing-intro h1 {
    font-size: 18px;
  }
  .landing-intro h2 {
    font-size: 36px;
  }
}

/* NAV STYLING */
main {
  padding-top: 60px;
  position: relative;
}

.nav-left {
  width: 20%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-right: 8px;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
}

.nav-right {
  width: 20%;
  height: 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 8px;
  z-index: 10;
  position: fixed;
  right: 0;
  top: 0;
}

#landing-nav-left {
  position: absolute;
  left: 0;
  top: 0;
}

#landing-nav-right {
  position: absolute;
  right: 0;
  top: 0;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: black;
  transition: all 0.1s ease;
}

.logo:hover {
  color: #093ace;
  transform: scale(1.05);
}

.hamburger-icon div {
  width: 26px;
  height: 2px;
  background-color: black;
  margin: 5px 0px;
  border-radius: 1px;
}

.hamburger-icon {
  transition: all 0.1s ease;
}

.hamburger-icon:hover {
  transform: scale(1.05);
}

#icon-top,
#icon-bottom {
  transition: background-color 0.1s, transform 0.5s ease-in-out;
}

.hamburger-icon:hover #icon-top,
.hamburger-icon:hover #icon-bottom {
  background-color: #093ace;
}

@media (min-width: 500px) and (max-width: 800px) {
  main {
    padding-top: 67.5px;
  }
  .nav-left,
  .nav-right {
    width: 16.667%;
    padding: 0px;
    height: 67.5px;
  }
  .logo {
    font-size: 20px;
  }
  .hamburger-icon div {
    width: 32px;
    height: 3px;
    margin: 6px 0px;
    border-radius: 1.5px;
  }
}

@media (min-width: 801px) {
  main {
    padding-top: 90px;
  }
  .nav-left,
  .nav-right {
    width: 8.333%;
    padding: 0px;
    height: 90px;
  }
  .logo {
    font-size: 20px;
  }
  .hamburger-icon div {
    width: 32px;
    height: 3px;
    margin: 6px 0px;
    border-radius: 1.5px;
    transition: all 0.5s ease-in-out;
  }
  .hamburger-icon {
    z-index: 1;
  }
}

/* DESKTOP MENU STYLING */
.desktop-menu {
  width: auto;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  position: fixed;
  right: calc(8vw - 53px);
  top: 23px;
  border-radius: 25px;
  padding: 0px 55px 0px 7px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
  background-color: white;
  z-index: 9;
}

#landing-desktop-menu {
  position: absolute;
}

.desktop-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 15px;
  letter-spacing: .07em;
  font-weight: 400;
  margin: 13px 15px;
}

.desktop-menu a:hover {
  color: #093ace;
}

/* SIDE MENU STYLING */
.side-menu {
  background-color: #00071c;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transition: all 0.35s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
  display: none;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
}

.hamburger-icon-close {
  height: 60px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hamburger-icon-close div {
  width: 26px;
  height: 2px;
  background-color: white;
  margin: 5px 0px;
  border-radius: 1px;
}

.hamburger-icon-close div:first-of-type {
  transform: rotate(-45deg) translateY(8.5px);
}

.hamburger-icon-close div:last-of-type {
  transform: rotate(45deg) translateY(-8.5px);
}

.pages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu a {
  text-decoration: none;
  font-weight: 400;
  color: white;
  font-size: 28px;
  margin: 24px;
}

.side-menu-open {
  transform: translateX(0%);
  opacity: 1;
}

@media (min-width: 500px) and (max-width: 800px) {
  .hamburger-icon-close {
    height: 67.5px;
    width: 16.667%;
  }
  .hamburger-icon-close div {
    width: 34px;
    height: 3px;
    background-color: white;
    margin: 5px 0px;
    border-radius: 1px;
  }
  .hamburger-icon-close div:first-of-type {
    transform: rotate(-45deg) translateY(9px);
  }

  .hamburger-icon-close div:last-of-type {
    transform: rotate(45deg) translateY(-9px);
  }
  .side-menu a {
    font-size: 32px;
  }
}

/* SUBTITLE STYLING */
.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 24px calc(20% + 8px) 60px calc(20% + 8px);
}

.landing-about-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  font-size: 26px;
  line-height: 1.5em;
  font-weight: 700;
  margin-bottom: 36px;
  display: block;
}

.bold-subtitle {
  font-weight: 700;
  display: block;
}

.small-subtitle {
  font-size: 20px;
  display: block;
  line-height: 1.5em;
  margin-top: 24px;
  font-weight: 400;
  color: #71798F;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
}

.fade-in.apply {
  opacity: 1;
  transform: translateY(0px);
}

@media (min-width: 500px) and (max-width: 800px) {
  .page-content {
    padding: 60px calc(16.667% + 16px) 90px calc(16.667% + 16px);
  }
  .subtitle {
    font-size: 32px;
    line-height: 1.5em;
    margin-bottom: 60px;
  }
  .small-subtitle {
    font-size: 22px;
  }
}

@media (min-width: 801px) {
  .page-content {
    padding: 80px calc(8.333%) 100px calc(8.333%);
  }
  .subtitle {
    font-size: 36px;
    line-height: 1.5em;
    width: 80%;
    box-sizing: border-box;
    margin: 0px 0px 100px 32px;
  }
  .small-subtitle {
    font-size: 24px;
    line-height: 1.5em;
    width: 87.5%;
  }
}

/* MOBILE PROJECT PREVIEW STYLING */
.mobile-project-preview {
  display: flex;
  width: 100%;
  overflow: scroll;
}

.preview {
  display: flex;
  flex-direction: column;
}

.preview img {
  width: calc(60vw - 64px);
  height: auto;
  margin-right: 24px;
}

.preview-info h1 {
  color: #00071c;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
  width: calc(60vw - 64px);
}

.preview-info h2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5em;
  color: #71798f;
  width: calc(60vw - 64px);
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

@media (min-width: 500px) and (max-width: 800px) {
  .preview-info h1 {
    font-size: 20px;
  }
  .preview-info h2 {
    font-size: 12px;
  }
}

@media (min-width: 801px) {
  .mobile-project-preview {
    display: none;
  }
}

/* DESKTOP PROJECT PREVIEW STYLING */
.desktop-project-preview-container {
  width: calc(100% - 64px);
  margin: 0px 32px;
  height: auto;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.075);
}

.desktop-project-preview {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.desktop-project-preview-container .label {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 25%;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00071c;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.desktop-project-preview-container #preview-button{
  width: 30px;
  height: 30px;
  font-size: 14px;
  border-radius: 100%;
  border: none;
  color: white;
  background-color: #00071c;
  position: absolute;
  bottom: 16px;
  right: 16px;
  padding: 0px;
  z-index: 2;
}

.desktop-project-preview-container #preview-button:hover {
  background-color: #093ACE;
}

#fca-project-preview {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  /*display: none;*/
}

#thirdspace-project-preview {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  /*display: none;*/
}

.left-project-preview {
  width: 100%;
  height: auto;
  background: white;
}

.project-info {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 100px 60px 24px 60px;
}

.project-info h1 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 8px;
}

.project-info h2 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #71798f;
  margin-bottom: 12px;
}

.project-info p {
  font-size: 16px;
  line-height: 1.5em;
}

.left-project-preview button {
  margin: 0px 0px 60px 60px;
  padding: 0px 1em;
  width: auto;
  height: 2em;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  background-color: white;
}

#impressions-full-project {
  border: 1px solid #EADBF1;
  color: #B47FCD;
}

#impressions-full-project:hover {
  background-color: #B47FCD;
  color: white;
  border: none;
}

#fca-full-project {
  border: 1px solid #B9DEB1;
  color: #57A646;
}

#fca-full-project:hover {
  background-color: #57A646;
  color: white;
  border: none;
}

#thirdspace-full-project {
  border: 1px solid #C9D7F8;
  color: #6C92EC;
}

#thirdspace-full-project:hover {
  background-color: #6C92EC;
  color: white;
  border: none;
}

.right-project-preview {
  width: 100%;
  height: 100%;
  position: relative;
  line-height: 0px;
}

.right-project-preview img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*(for animation)*/
#impressions-project-preview .left-project-preview.animate-on-scroll{
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.75s ease-in-out;
}

#impressions-project-preview .right-project-preview.animate-on-scroll{
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.75s ease-in-out;
}

#impressions-project-preview .left-project-preview.animate-on-scroll.animate {
  transform: translateX(0);
  opacity: 1;
}

#impressions-project-preview .right-project-preview.animate-on-scroll.animate {
  transform: translateY(0);
  opacity: 1;
}

#fca-project-preview .left-project-preview{
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.75s ease-in-out;
}

#fca-project-preview .right-project-preview {
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.75s ease-in-out;
}

#fca-project-preview .left-project-preview.animate {
  transform: translateX(0);
  opacity: 1;
}

#fca-project-preview .right-project-preview.animate {
  transform: translateY(0);
  opacity: 1;
}

#thirdspace-project-preview .left-project-preview{
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.75s ease-in-out;
}

#thirdspace-project-preview .right-project-preview {
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.75s ease-in-out;
}

#thirdspace-project-preview .left-project-preview.animate {
  transform: translateX(0);
  opacity: 1;
}

#thirdspace-project-preview .right-project-preview.animate {
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 800px) {
  .desktop-project-preview-container {
    display: none;
  }
}

/* FOOTER STYLING */
footer {
  width: 100%;
  height: 200px;
  background-color: #00071c;
  box-sizing: border-box;
  padding: 0px calc(20% + 8px);
}

.footer-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer h1 {
  color: #71798f;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;

}

footer a {
  color: white;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5em;
}
.email {
  margin: 12px 0px;
  line-height: 24px;
}

@media (min-width: 500px) and (max-width: 800px) {
  footer {
    box-sizing: border-box;
    padding: 0px calc(16.667% + 16px);
  }
}

@media (min-width: 801px) {
  footer {
    box-sizing: border-box;
    padding: 0px calc(8.333% + 32px);
  }
}
